@page "/bookings"
@using ShowTime.Repositories.Interfaces
@rendermode InteractiveServer
@inject IRepositoryBooking RepositoryBooking

<h1>Bookings</h1>

<DataGrid TItem="ShowTime.Entities.Booking" Data="@bookings" Responsive Editable Filterable>
	<DataGridColumns>
		<DataGridColumn TItem="ShowTime.Entities.Band" Field="@nameof(ShowTime.Entities.Booking.Email)" Caption="Email" />
		<DataGridColumn TItem="ShowTime.Entities.Band" Field="@nameof(ShowTime.Entities.Booking.Date)" Caption="Date" />
		<DataGridColumn TItem="ShowTime.Entities.Band" Field="@nameof(ShowTime.Entities.Booking.Price)" Caption="Price" />
		<DataGridColumn TItem="ShowTime.Entities.Band" Field="@nameof(ShowTime.Entities.Booking.FestivalId)" Caption="Festival Id" />
	</DataGridColumns>
</DataGrid>


@code {
	private List<Booking> bookings;

	protected override async Task OnInitializedAsync()
	{
		bookings = (await RepositoryBooking.GetAllAsync()).ToList();
	}
}
